.dashboard{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 190px) 210px;
    grid-template-rows: 90px 320px 195px;
    grid-template-areas:
        "a a a a"
        "b b b c"
        "d e f c";
    &>div{
        grid-area: a;
    }
    #daily-activity{
        grid-area: b;
        grid-column: span 3;
    }
    #average-session{
        grid-area: d;
    }
    #performances{
        grid-area: e;
    }
    #score{
        grid-area: f;
    }
    #keydata{
        grid-area: c;
    }
}