.icon{
    width: 64px;
    height: 64px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease;
    &:hover{
        transform: scale(1.1);
    }
    &.bg-white{
        background-color: $white;
    }
    &.bg-red-light{
        background-color: $red-light;
    }
    &.bg-blue-light{
        background-color: $blue-light;
    }
    &.bg-yellow-light{
        background-color: $yellow-light;
    }
    &.bg-pink-light{
        background-color: $pink-light;
    }
}